*/*.o
*/.*.swp
*/*.so
examples/helloworld
examples/hl-hello
tests/check_hadoofus
all_rpcs.list
.*.swp
hadoofus-coverage
wrappers/py/.*.swp
wrappers/py/build
wrappers/py/hadoofus.c
wrappers/py/hadoofus.so
