*/*.o
*/.*.swp
*/*.so
examples/helloworld
examples/hl-hello
examples/mt-hello
examples/kerb
examples/*.dSYM
tests/check_hadoofus
all_rpcs.list
.*.swp
hadoofus-coverage
wrappers/py/.*.swp
wrappers/py/build
wrappers/py/hadoofus.c
wrappers/py/hadoofus.so
wrappers/c/*.o
wrappers/c/*.a
wrappers/c/*.so
wrappers/c/.*.swp
wrappers/c/hdfs_test
TAGS
src/*.a
src/*.pb-c.h
src/*.pb-c.c
